In [104]:
#Listes 
listPrincipale=[
    [1,'a'],
    [3,'b'],
    [5,'c'],
]
list1 = [2500,2,6,2500,2500]
list2 = [5,6,5]
x=65

In [111]:
#Ajout element en fin
list1.append(5)
list1.insert(2,'a') #insertion à l'indice2
list1

[2500, 2, 'a', 6, 2500, 2500, 5]

In [91]:
#Fusion 2 list (Tous les résultats pareils)
list1.extend(list2)
list1 + list2 
list1 += list2

In [92]:
#Suppression de données
del(list1[3]) # delete l'element du 3eme indice
del(list1) # del(list1) # delete la liste complète 
del(x) # Detruit la variable x
list1 = [2500,2,6,2500,2500]
list1.remove(2500) # remove la valeur 2500 de la list (premiere occurence uniqument !!!!)

In [93]:
list1

[2, 6, 2500, 2500]

In [113]:
### Enumerate très interéssant 
for i,elt in enumerate(list1):
    print(i,elt)

0 2500
1 2
2 a
3 6
4 2500
5 2500
6 5

In [108]:
autre_liste = [
     [1, 'a'],
    [4, 'd'],
    [7, 'g'],
    [26, 'z']] # J'ai étalé la liste sur plusieurs lignes
for nb, lettre in autre_liste:
     print("La lettre {} est la {}e de l'alphabet.".format(lettre, nb))

La lettre a est la 1e de l'alphabet.
La lettre d est la 4e de l'alphabet.
La lettre g est la 7e de l'alphabet.
La lettre z est la 26e de l'alphabet.

In [126]:
## Split 
chaine = "salut python ça va ?"
liste = chaine.split(" ")
liste

['salut', 'python', 'ça', 'va', '?']

In [127]:
# join
chaine = " ".join(liste)
chaine

'salut python ça va ?'

In [128]:
print(*liste)

salut python ça va ?

In [130]:
liste

['salut', 'python', 'ça', 'va', '?']

In [131]:
# list comprehensions
test = [1,2,3,4,5]
y = [nb *3 for nb in test if nb%2==0] # Garde les nombres pair et multiplie x 3

In [236]:
>>> inventaire = [
...     ("pommes", 22),
...     ("melons", 4),
...     ("poires", 18),
...     ("fraises", 76),
...     ("prunes", 51),
... ]
>>>

In [245]:
test1=[(chiffre,fruit) for fruit,chiffre in inventaire]
test1.sort(reverse=True)

In [246]:
inventaire = [(fruit,chiffre) for chiffre,fruit in test1]

In [247]:
inventaire

[('fraises', 76),
 ('prunes', 51),
 ('pommes', 22),
 ('poires', 18),
 ('melons', 4)]

In [240]:
test1

[(76, 'fraises'),
 (51, 'prunes'),
 (22, 'pommes'),
 (18, 'poires'),
 (4, 'melons')]

In [249]:
list1 = [6,2,5]
list2 = [5,4,5]

In [251]:
type(list1.append(5))

NoneType

In [ ]:
str